<div class="feed-messages-container">
  <div
    class="feed-message"
    *ngFor="let message of feed"
    (click)="expandMessage(message)">
    <div class="text-block text-message">
      <div class="message-header">
        <div class="author">{{ message.author}}
          {{ message.surname}}</div>
      </div>

      <div
        class="message-content line-clamp"
        [ngClass]="{'line-clamp-2' : !message.expanded}">
        <span *ngIf="message.preview">{{ message.header }}
        </span>{{ message.street }}
        <br>
        {{message.phone}}
      </div>

    </div>
  </div>
</div>
