<div class="grid grid-pad">
  <a [routerLink]="['/pages/charts/bestseller']" class="col-1-4">
    <div class="module hero">
      <h4>Top clientes por fecha</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/productsales']" class="col-1-4">
    <div class="module hero">
      <h4>Compras de Producto por cliente</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/rankcategory']" class="col-1-4">
    <div class="module hero">
      <h4>Total dinero ingresado por cliente</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/rankbrand']" class="col-1-4">
    <div class="module hero">
      <h4>Frecuencia de compra</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/productprice']" class="col-1-4">
    <div class="module hero">
      <h4>Clientes que compran los Top productos de la empresa</h4>
    </div>
  </a>

</div>
