@import "../../../../theme/sass/conf/conf";

:host /deep/ {

  .ct-area {
    fill-opacity: .5;
  }

  .ct-label {
    color: $default-text;
    opacity: 0.9;
    fill: $default-text;
  }

  .ct-chart .ct-label {
    font-size: 1em;
  }

  .ct-chart svg {
    width: 100%;
    display: block;
  }

  .ct-series-a {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $primary;
    }
    .ct-slice-pie, .ct-area {
      fill: $primary;
    }
  }

  .ct-series-b {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $success;
    }
    .ct-slice-pie, .ct-area {
      fill: $success;
    }
  }

  .ct-series-c {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $danger;
    }
    .ct-slice-pie, .ct-area {
      fill: $danger;
    }
  }

  .ct-series-d {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $warning;
    }
    .ct-slice-pie, .ct-area {
      fill: $warning;
    }

  }

  .ct-series-e {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $info;
    }
    .ct-slice-pie, .ct-area {
      fill: $info;
    }
  }

  .stacked-bar .ct-bar {
    stroke-width: 30px;
  }
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
