<div class="grid grid-pad">
  <a [routerLink]="['/pages/charts/rankingpurchase']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking de compras general</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingPurchaseCategory']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking de compras por categoria</h4>
    </div>
  </a> 
  <a [routerLink]="['/pages/charts/RankingProvider']" class="col-1-4">
    <div class="module hero">
      <h4>Compra de articulos por proveedor</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingProviderCategory']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking Proveedores por categoría</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingProduct']" class="col-1-4">
    <div class="module hero">
      <h4>Producto más comprado</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingProviderInTime']" class="col-1-4">
    <div class="module hero">
      <h4>Precio de Proveedor en el tiempo</h4>
    </div>
  </a>
</div>
