<div class="grid grid-pad">
  <a [routerLink]="['/pages/charts/rankingpurchase']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking de compras general</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingPurchaseCategory']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking de compras por categoria</h4>
    </div>
  </a> 
  <a [routerLink]="['/pages/charts/RankingProvider']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking tiempo de entrega</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingProviderCategory']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking Proveedores por producto y precio</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingProduct']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking variedad de productos</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/RankingProviderInTime']" class="col-1-4">
    <div class="module hero">
      <h4>Precio de compra en el tiempo</h4>
    </div>
  </a>
</div>
