<div class="grid grid-pad"><!--listo -->
  <a [routerLink]="['/pages/charts/rankingcustomer']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking de clientes</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/productbuy']" class="col-1-4"> <!--listo -->
    <div class="module hero">
      <h4>Compras de Producto por cliente</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/collected']" class="col-1-4"> <!--listo -->
    <div class="module hero">
      <h4>Total dinero ingresado por cliente</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/frequency']" class="col-1-4"> <!--listo -->
    <div class="module hero">
      <h4>Frecuencia de compra</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/bestproduct']" class="col-1-4"> <!--listo -->
    <div class="module hero">
      <h4>Clientes que compran los Top productos de la empresa</h4>
    </div>
  </a>

</div>
