<div class="grid grid-pad">
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <table class="table" style="float:center">
      <tr>
        <th style="text-align:center">
          <h5 translate>#</h5>
        </th>
        <th>
          <h5 translate>Estadísticas de productos</h5>
        </th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <a [routerLink]="['/pages/charts/bestseller']" style="color:lightblue">Ranking productos comprados por un cliente por cantidad</a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <a [routerLink]="['/pages/charts/collected']" style="color:lightblue">
            Recaudacion por cliente
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <a [routerLink]="['/pages/charts/frequency']" style="color:lightblue">Ranking de clients por su frecuencia de compras</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
