<div class="grid grid-pad">
  <a [routerLink]="['/pages/charts/bestseller']" class="col-1-4">
    <div class="module hero">
      <h4>Productos más vendidos</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/productsales']" class="col-1-4">
    <div class="module hero">
      <h4>Ventas de Producto</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/rankcategory']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking Productos por categoría</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/rankbrand']" class="col-1-4">
    <div class="module hero">
      <h4>Ranking Productos por marca</h4>
    </div>
  </a>
  <a [routerLink]="['/pages/charts/productprice']" class="col-1-4">
    <div class="module hero">
      <h4>Precio de Producto en el tiempo</h4>
    </div>
  </a>

</div>
